<div class="col-md-6" data-hook="admin-home-main-menus">
  <%= render 'home_resource_form', instances: @home_main_menus  %>
</div>


<div class="col-md-6" data-hook="admin-home-inserts">
  <%= render 'home_resource_form', instances: @home_inserts %>
</div>